.ok {
  background-color: hsl(87, 53%, 65%);
  box-shadow: 0px 0px 4px 0px #538d22;
}
.warning {
  background-color: #ffbc0a;
  box-shadow: 0px 0px 4px 0px #e09f3e;
}
.critical {
  background-color: #ff312e;
  box-shadow: 0px 0px 4px 0px #540b0e;
}

.hoverable span {
  display: none;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.hoverable h1 {
  text-align: center;
  font-size: 1.1rem;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

.hoverable h2 {
  text-align: left;
  font-size: 1rem;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

.hoverable div {
  font-size: 0.9rem;
}

.hoverable {
  z-index: 10;
}
.hoverable:hover {
  z-index: 1000;
}

.infoDriver:hover span {
  display: block;
  opacity: 1;
  z-index: 1000;
}

.infoDriver:hover {
  transform: scale(1.5);
}

.service {
  z-index: 10;
  text-align: left;
  padding: 0.5rem;
  white-space: nowrap;
  width: fit-content;
  min-width: 12rem;
  min-height: 3rem;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  transform-origin: top left;
}

.topic {
  text-align: left;
  background-color: #dddddd;
  padding: 0.5rem;
  white-space: nowrap;
  min-width: 10rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px 0px rgba(25, 30, 43, 0.1);
}
