.ok {
  background-color: #aad576;
  box-shadow: 0px 0px 10px 0px #538d22;
}
.warning {
  background-color: #ffbc0a;
  box-shadow: 0px 0px 10px 0px #e09f3e;
}
.critical {
  background-color: #ff312e;
  box-shadow: 0px 0px 10px 0px #540b0e;
}

.service {
  text-align: center;
  padding: 0.5rem;
  white-space: nowrap;
  min-width: 15rem;
  min-height: 5rem;
  /* border: 1px solid #eee; */
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.topic {
  text-align: center;
  background-color: #dddddd;
  padding: 0.5rem;
  white-space: nowrap;
  min-width: 10rem;
  /* border: 1px solid #eee; */
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px 0px rgba(25, 30, 43, 0.1);
}
